/* this is where the buttons classes live */
.button-container {
  position: relative;
  width: auto;
  background-color: #333;
  padding: 15px;
  border-radius: 5px;
  margin: 15px; }

.button {
  display: inline-block;
  position: relative;
  box-shadow: 1px 1px 3px #CCC;
  border-radius: 5px;
  border: 2px solid #CCC;
  padding: 5px;
  margin: 8px;
  cursor: pointer;
  background-color: #DDD; }

.pressed {
  border: 2px solid #CCC;
  box-shadow: inset 3px 3px 8px #333; }

/* this is where the typing classes live */
.typin {
  background-color: #DDD;
  margin: 15px; }

/* this is where the menu classes live */
.divider-top {
  border-top: 1px solid rgba(235, 235, 235, 0.6); }

.divider-bottom {
  border-bottom: 1px solid rgba(235, 235, 235, 0.6); }

.divider-both {
  border-top: 1px solid rgba(235, 235, 235, 0.6);
  border-bottom: 1px solid rgba(235, 235, 235, 0.6); }

.boozy-menu {
  position: fixed;
  right: 20px;
  top: 20px;
  border: 1px solid #545450;
  padding: 15px;
  background-color: white;
  transition: all 1s ease-in-out;
  /*  
        Lovingly lifted from the following:
        http://css-tricks.com/media-queries-sass-3-2-and-codekit/
    */ }
  .boozy-menu .drink {
    font-size: 15px;
    padding: 5px; }
  .boozy-menu .fade-out {
    opacity: 0;
    transition: all 1s ease-in-out; }
  .boozy-menu .fade-in {
    opacity: 1;
    transition: all 1s ease-in-out; }
  .boozy-menu .font {
    font-family: helvetica; }
  .boozy-menu .boozy-computer {
    border: 1px solid #B4D455;
    height: 100px;
    width: 300px; }
  .boozy-menu .drink-container {
    width: 320px; }
  .boozy-menu .drop-hover {
    border: 5px solid black; }
  .boozy-menu .title {
    padding: 5px;
    color: #545450; }
  .boozy-menu .nav {
    color: #3498E7; }
  .boozy-menu .active {
    color: #545450;
    cursor: default; }
  .boozy-menu .switch {
    padding: 5px; }
  .boozy-menu .option {
    width: 10px;
    height: 10px;
    border-radius: 20px; }
  .boozy-menu .on {
    background-color: green; }
  .boozy-menu .off {
    background-color: red; }
  .boozy-menu .deactivated {
    background-color: #545450; }
  .boozy-menu .control {
    width: 172px; }
  @media (max-width: 650px) {
    .boozy-menu {
      width: 84%; } }

.boozy-menu.hide-menu {
  -webkit-transform: translateY(-92%);
          transform: translateY(-92%); }

/* 
    Somewhat Functional Section:
        This means these are classes that are intended to be dynamically toggled
        at the moment they should either represent boolean actions or incremental 
        numbered actions
*/
.buzzed-transition {
  transition: all 0.25s ease-in-out; }

.im-fine-transition {
  transition: all 0.35s ease-in-out; }

.drunk-transition {
  transition: all 2s ease-in-out; }

.wooo-transition {
  transition: all 3s ease-in-out; }

.blackout-transition {
  transition: all 5s ease-in-out; }

.transition-ease-out {
  transition: all 2s ease-out; }

.hardware-acceleration {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000; }

/* boozy focus section */
.blur-6 {
  -webkit-filter: blur(6px);
          filter: blur(6px); }

.blur-5 {
  -webkit-filter: blur(5px);
          filter: blur(5px); }

.blur-4 {
  -webkit-filter: blur(4px);
          filter: blur(4px); }

.blur-3 {
  -webkit-filter: blur(3px);
          filter: blur(3px); }

.blur-2 {
  -webkit-filter: blur(2px);
          filter: blur(2px); }

.blur-1 {
  -webkit-filter: blur(1px);
          filter: blur(1px); }

.blur-0 {
  -webkit-filter: blur(0px);
          filter: blur(0px); }

/* boozy lean section */
.rotate-5 {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg); }

.rotate-4 {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg); }

.rotate-3 {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg); }

.rotate-2 {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg); }

.rotate-1 {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg); }

.rotate-0 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }

.rotate-neg-1 {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg); }

.rotate-neg-2 {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg); }

.rotate-neg-3 {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg); }

.rotate-neg-4 {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg); }

.rotate-neg-5 {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg); }
