/* this is where the buttons classes live */
.button-container {
    position: relative;
    width: auto;
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
}
.button {
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px #CCC;
       -moz-box-shadow: 1px 1px 3px #CCC;
            box-shadow: 1px 1px 3px #CCC;
    border-radius: 5px;
    border: 2px solid #CCC;
    padding: 5px;
    margin: 8px;
    cursor: pointer; 
    background-color: #DDD;
    
}
.pressed {
    border: 2px solid #CCC;
    -webkit-box-shadow: inset 3px 3px 8px #333;
       -moz-box-shadow: inset 3px 3px 8px #333;
            box-shadow: inset 3px 3px 8px #333;
}

/* this is where the typing classes live */
.typin {
    background-color: #DDD;
    margin: 15px;
}
.boozy-menu {
    position: fixed;
    right: 20px;
    top: 20px;
    border: 1px solid #545450;
    padding: 15px;
    background-color: white;
}
.boozy-menu .font {
    font-family: helvetica;
}
.boozy-menu .title {
    color: #545450;
}
.boozy-menu .switch {
    padding: 5px;
}
.boozy-menu .switch .option {
    width: 10px;
    height: 10px;
    border-radius: 20px;
}
.boozy-menu .switch .on {
    background-color: green;
}
.boozy-menu .switch .off {
    background-color: red;
}
.boozy-menu .switch .deactivated {
    background-color: #545450;
}
.boozy-menu .control {
    width: 172px;

}
.boozy-menu .control:hover {
    background-color: #ECF1DA;
}
/* this is where the menu classes live */

/* 
    Somewhat Functional Section:
        This means these are classes that are intended to be dynamically toggled
        at the moment they should either represent boolean actions or incremental 
        numbered actions
*/
.transition-ease-out {
    -webkit-transition: all 2s ease-out;
       -moz-transition: all 2s ease-out;
        -ms-transition: all 2s ease-out;
         -o-transition: all 2s ease-out;
            transition: all 2s ease-out;
} 

/* blur classes */
.blur-6 {
    -webkit-filter: blur(6px);
       -moz-filter: blur(6px);
        -ms-filter: blur(6px);
         -o-filter: blur(6px);
            filter: blur(6px);
}
.blur-5 {
    -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);
         -o-filter: blur(5px);
            filter: blur(5px);
}
.blur-4 {
    -webkit-filter: blur(4px);
       -moz-filter: blur(4px);
        -ms-filter: blur(4px);
         -o-filter: blur(4px);
            filter: blur(4px);
}
.blur-3 {
    -webkit-filter: blur(3px);
       -moz-filter: blur(3px);
        -ms-filter: blur(3px);
         -o-filter: blur(3px);
            filter: blur(3px);
}
.blur-2 {
    -webkit-filter: blur(2px);
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);
         -o-filter: blur(2px);
            filter: blur(2px);
}
.blur-1 {
    -webkit-filter: blur(1px);
       -moz-filter: blur(1px);
        -ms-filter: blur(1px);
         -o-filter: blur(1px);
            filter: blur(1px);
}
.blur-0 {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
        -ms-filter: blur(0px);
         -o-filter: blur(0px);
            filter: blur(0px);
}

.rotate-5 {
    -webkit-transform:  rotate(5deg);
       -moz-transform:  rotate(5deg);
        -ms-transform:  rotate(5deg);
         -o-transform:  rotate(5deg);
            transform:  rotate(5deg);
}
.rotate-4 {
    -webkit-transform:  rotate(4deg);
       -moz-transform:  rotate(4deg);
        -ms-transform:  rotate(4deg);
         -o-transform:  rotate(4deg);
            transform:  rotate(4deg);
}
.rotate-3 {
    -webkit-transform:  rotate(3deg);
       -moz-transform:  rotate(3deg);
        -ms-transform:  rotate(3deg);
         -o-transform:  rotate(3deg);
            transform:  rotate(3deg);
}
.rotate-2 {
    -webkit-transform:  rotate(2deg);
       -moz-transform:  rotate(2deg);
        -ms-transform:  rotate(2deg);
         -o-transform:  rotate(2deg);
            transform:  rotate(2deg);
}
.rotate-1 {
    -webkit-transform:  rotate(1deg);
       -moz-transform:  rotate(1deg);
        -ms-transform:  rotate(1deg);
         -o-transform:  rotate(1deg);
            transform:  rotate(1deg);
}
.rotate-0 {
    -webkit-transform:  rotate(0deg);
       -moz-transform:  rotate(0deg);
        -ms-transform:  rotate(0deg);
         -o-transform:  rotate(0deg);
            transform:  rotate(0deg);
}
.rotate-neg-1 {
    -webkit-transform:  rotate(-1deg);
       -moz-transform:  rotate(-1deg);
        -ms-transform:  rotate(-1deg);
         -o-transform:  rotate(-1deg);
            transform:  rotate(-1deg);
}
.rotate-neg-2 {
    -webkit-transform:  rotate(-2deg);
       -moz-transform:  rotate(-2deg);
        -ms-transform:  rotate(-2deg);
         -o-transform:  rotate(-2deg);
            transform:  rotate(-2deg);
}
.rotate-neg-3 {
    -webkit-transform:  rotate(-3deg);
       -moz-transform:  rotate(-3deg);
        -ms-transform:  rotate(-3deg);
         -o-transform:  rotate(-3deg);
            transform:  rotate(-3deg);
}
.rotate-neg-4 {
    -webkit-transform:  rotate(-4deg);
       -moz-transform:  rotate(-4deg);
        -ms-transform:  rotate(-4deg);
         -o-transform:  rotate(-4deg);
            transform:  rotate(-4deg);
}
.rotate-neg-5 {
    -webkit-transform:  rotate(-5deg);
       -moz-transform:  rotate(-5deg);
        -ms-transform:  rotate(-5deg);
         -o-transform:  rotate(-5deg);
            transform:  rotate(-5deg);
}
