/* 
    Somewhat Functional Section:
        This means these are classes that are intended to be dynamically toggled
        at the moment they should either represent boolean actions or incremental 
        numbered actions
*/
.transition-ease-out {
    @include transition(all 2s ease-out);
} 
.hardware-acceleration {
    @include backface-visibility(hidden);
    @include perspective(1000);
}
/* commenting this guy out to be used as an example
$loop: 100;
@-webkit-keyframes width-stuffs {
  @while $loop > 0 {
    #{$loop * 1%} {
        width: random() + px;
    } 
    $step: -10;
    $loop: $loop + $step; 

  }
}
@keyframes width-stuffs {
  @while $loop > 0 {
    #{$loop * 1%} {
        width: random() + px;
    } 
    $step: -10;
    $loop: $loop + $step; 
  }
}
*/
/* blur classes */
.blur-6 {
    @include filter(blur(6px));
}
.blur-5 {
    @include filter(blur(5px));
}
.blur-4 {
    @include filter(blur(4px));
}
.blur-3 {
    @include filter(blur(3px));
}
.blur-2 {
    @include filter(blur(2px));
}
.blur-1 {
    @include filter(blur(1px));
}
.blur-0 {
    @include filter(blur(0px));
}

.rotate-5 {
    @include transform(rotate(5deg));
}
.rotate-4 {
    @include transform(rotate(4deg));
}
.rotate-3 {
    @include transform(rotate(3deg));
}
.rotate-2 {
    @include transform(rotate(2deg));
}
.rotate-1 {
    @include transform(rotate(1deg));
}
.rotate-0 {
    @include transform(rotate(0deg));
}
.rotate-neg-1 {
    @include transform(rotate(-1deg));
}
.rotate-neg-2 {
    @include transform(rotate(-2deg));
}
.rotate-neg-3 {
    @include transform(rotate(-3deg));
}
.rotate-neg-4 {
    @include transform(rotate(-4deg));
}
.rotate-neg-5 {
    @include transform(rotate(-5deg));
}
