/* 
    Somewhat Functional Section:
        This means these are classes that are intended to be dynamically toggled
        at the moment they should either represent boolean actions or incremental 
        numbered actions
*/
.buzzed-transition {
    transition: all 0.25s ease-in-out;
} 
.im-fine-transition {
    transition: all 0.35s ease-in-out;
} 
.drunk-transition {
    transition: all 2s ease-in-out;
} 
.wooo-transition {
    transition: all 3s ease-in-out;
} 
.blackout-transition {
    transition: all 5s ease-in-out;
} 
.transition-ease-out {
    transition: all 2s ease-out;
} 
.hardware-acceleration {
    backface-visibility: hidden;
    perspective: 1000;
}
/* boozy focus section */
.blur-6 {
    filter: blur(6px);
}
.blur-5 {
    filter: blur(5px);
}
.blur-4 {
    filter: blur(4px);
}
.blur-3 {
    filter: blur(3px);
}
.blur-2 {
    filter: blur(2px);
}
.blur-1 {
    filter: blur(1px);
}
.blur-0 {
    filter: blur(0px);
}

/* boozy lean section */
.rotate-5 {
    transform: rotate(5deg);
}
.rotate-4 {
    transform: rotate(4deg);
}
.rotate-3 {
    transform: rotate(3deg);
}
.rotate-2 {
    transform: rotate(2deg);
}
.rotate-1 {
    transform: rotate(1deg);
}
.rotate-0 {
    transform: rotate(0deg);
}
.rotate-neg-1 {
    transform: rotate(-1deg);
}
.rotate-neg-2 {
    transform: rotate(-2deg);
}
.rotate-neg-3 {
    transform: rotate(-3deg);
}
.rotate-neg-4 {
    transform: rotate(-4deg);
}
.rotate-neg-5 {
    transform: rotate(-5deg);
}
