/* this is where the menu classes live */

.divider-top {
    border-top: 1px solid rgba(235, 235, 235, 0.6);
    
}
.divider-bottom {
    border-bottom: 1px solid rgba(235, 235, 235, 0.6);
    
}
.divider-both {
    border-top: 1px solid rgba(235, 235, 235, 0.6);
    border-bottom: 1px solid rgba(235, 235, 235, 0.6);
}
.boozy-menu {
    position: fixed;
    right: 20px;
    top: 20px;
    border: 1px solid #545450;
    padding: 15px;
    background-color: white;

    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;

    .drink {
        font-size: 15px;
        padding: 5px;
    }

    .fade-out {
        -webkit-opacity: 0;
           -moz-opacity: 0;
            -ms-opacity: 0;
             -o-opacity: 0;
                opacity: 0;

        -webkit-transition: all 1s ease-in-out;
           -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
    }
    .fade-in {
        -webkit-opacity: 1;
           -moz-opacity: 1;
            -ms-opacity: 1;
             -o-opacity: 1;
                opacity: 1;

        -webkit-transition: all 1s ease-in-out;
           -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
    }
    .font {
        font-family: helvetica;
    }
    .boozy-computer {
        border: 1px solid #B4D455;
        height: 100px;
        width: 300px;
    }
    .drink-container {
        width: 320px;
    }
    .drop-hover {
        border: 5px solid black;
    }
    .title {
        padding: 5px;
        color: #545450;
    }
    .nav {
        color: #3498E7;
    }
    .active {
        color: #545450;
        cursor: default;
    }
    .switch {
        padding: 5px;
    }
    .option {
        width: 10px;
        height: 10px;
        border-radius: 20px;
    }
    .on {
        background-color: green;
    }
    .off {
        background-color: red;
    }
    .deactivated {
        background-color: #545450;
    }
    .control {
        width: 172px;
    }
    @include breakpoint(small) { 
        width: 84%; 
    }
}

.boozy-menu.hide-menu {
    -webkit-transform:  translateY(-92%);
       -moz-transform:  translateY(-92%);
        -ms-transform:  translateY(-92%);
         -o-transform:  translateY(-92%);
            transform:  translateY(-92%);
}
