.boozy-menu {
    z-index: 9999999;
    position: fixed;
    right: 20px;
    top: 20px;
    border: 1px solid #545450;
    padding: 15px;
    background-color: white;

    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}
.divider-top {
    border-top: 1px solid rgba(235, 235, 235, 0.6);
    
}
.divider-bottom {
    border-bottom: 1px solid rgba(235, 235, 235, 0.6);
    
}
.divider-both {
    border-top: 1px solid rgba(235, 235, 235, 0.6);
    border-bottom: 1px solid rgba(235, 235, 235, 0.6);
}
.boozy-menu .fade-out {
    -webkit-opacity: 0;
       -moz-opacity: 0;
        -ms-opacity: 0;
         -o-opacity: 0;
            opacity: 0;

    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}
.boozy-menu .fade-in {
    -webkit-opacity: 1;
       -moz-opacity: 1;
        -ms-opacity: 1;
         -o-opacity: 1;
            opacity: 1;

    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}
.boozy-menu .font {
    font-family: helvetica;
}
.boozy-menu .title {
    color: #545450;
}
.boozy-menu .switch {
    padding: 5px;
}
.boozy-menu .switch .option {
    width: 10px;
    height: 10px;
    border-radius: 20px;
}
.boozy-menu .switch .on {
    background-color: green;
}
.boozy-menu .switch .off {
    background-color: red;
}
.boozy-menu .switch .deactivated {
    background-color: #545450;
}
.boozy-menu .control {
    width: 172px;
}
.boozy-menu .control:hover {
    background-color: #ECF1DA;
}
.boozy-menu.hide-menu {
    -webkit-transform:  translateY(-92%);
       -moz-transform:  translateY(-92%);
        -ms-transform:  translateY(-92%);
         -o-transform:  translateY(-92%);
            transform:  translateY(-92%);
}

/* this is where the menu classes live */

/* 
    Somewhat Functional Section:
        This means these are classes that are intended to be dynamically toggled
        at the moment they should either represent boolean actions or incremental 
        numbered actions
*/
.transition-ease-out {
    -webkit-transition: all 2s ease-out;
       -moz-transition: all 2s ease-out;
        -ms-transition: all 2s ease-out;
         -o-transition: all 2s ease-out;
            transition: all 2s ease-out;
} 

/* blur classes */
.blur-6 {
    -webkit-filter: blur(6px);
       -moz-filter: blur(6px);
        -ms-filter: blur(6px);
         -o-filter: blur(6px);
            filter: blur(6px);
}
.blur-5 {
    -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);
         -o-filter: blur(5px);
            filter: blur(5px);
}
.blur-4 {
    -webkit-filter: blur(4px);
       -moz-filter: blur(4px);
        -ms-filter: blur(4px);
         -o-filter: blur(4px);
            filter: blur(4px);
}
.blur-3 {
    -webkit-filter: blur(3px);
       -moz-filter: blur(3px);
        -ms-filter: blur(3px);
         -o-filter: blur(3px);
            filter: blur(3px);
}
.blur-2 {
    -webkit-filter: blur(2px);
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);
         -o-filter: blur(2px);
            filter: blur(2px);
}
.blur-1 {
    -webkit-filter: blur(1px);
       -moz-filter: blur(1px);
        -ms-filter: blur(1px);
         -o-filter: blur(1px);
            filter: blur(1px);
}
.blur-0 {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
        -ms-filter: blur(0px);
         -o-filter: blur(0px);
            filter: blur(0px);
}

.rotate-5 {
    -webkit-transform:  rotate(5deg);
       -moz-transform:  rotate(5deg);
        -ms-transform:  rotate(5deg);
         -o-transform:  rotate(5deg);
            transform:  rotate(5deg);
}
.rotate-4 {
    -webkit-transform:  rotate(4deg);
       -moz-transform:  rotate(4deg);
        -ms-transform:  rotate(4deg);
         -o-transform:  rotate(4deg);
            transform:  rotate(4deg);
}
.rotate-3 {
    -webkit-transform:  rotate(3deg);
       -moz-transform:  rotate(3deg);
        -ms-transform:  rotate(3deg);
         -o-transform:  rotate(3deg);
            transform:  rotate(3deg);
}
.rotate-2 {
    -webkit-transform:  rotate(2deg);
       -moz-transform:  rotate(2deg);
        -ms-transform:  rotate(2deg);
         -o-transform:  rotate(2deg);
            transform:  rotate(2deg);
}
.rotate-1 {
    -webkit-transform:  rotate(1deg);
       -moz-transform:  rotate(1deg);
        -ms-transform:  rotate(1deg);
         -o-transform:  rotate(1deg);
            transform:  rotate(1deg);
}
.rotate-0 {
    -webkit-transform:  rotate(0deg);
       -moz-transform:  rotate(0deg);
        -ms-transform:  rotate(0deg);
         -o-transform:  rotate(0deg);
            transform:  rotate(0deg);
}
.rotate-neg-1 {
    -webkit-transform:  rotate(-1deg);
       -moz-transform:  rotate(-1deg);
        -ms-transform:  rotate(-1deg);
         -o-transform:  rotate(-1deg);
            transform:  rotate(-1deg);
}
.rotate-neg-2 {
    -webkit-transform:  rotate(-2deg);
       -moz-transform:  rotate(-2deg);
        -ms-transform:  rotate(-2deg);
         -o-transform:  rotate(-2deg);
            transform:  rotate(-2deg);
}
.rotate-neg-3 {
    -webkit-transform:  rotate(-3deg);
       -moz-transform:  rotate(-3deg);
        -ms-transform:  rotate(-3deg);
         -o-transform:  rotate(-3deg);
            transform:  rotate(-3deg);
}
.rotate-neg-4 {
    -webkit-transform:  rotate(-4deg);
       -moz-transform:  rotate(-4deg);
        -ms-transform:  rotate(-4deg);
         -o-transform:  rotate(-4deg);
            transform:  rotate(-4deg);
}
.rotate-neg-5 {
    -webkit-transform:  rotate(-5deg);
       -moz-transform:  rotate(-5deg);
        -ms-transform:  rotate(-5deg);
         -o-transform:  rotate(-5deg);
            transform:  rotate(-5deg);
}
