<div id="bar-menu" class="menu-controls" ng-show="currentMenu == 'bar'">
    <div class="drink-container">
        <div id="martini-koozie" class="drink-koozie">
            <drink
                class="drink booze fa fa-glass cursor-pointer float-left"
                data-drink='{ "name": "martini", "strength": 2 }'
            ></drink>
        </div>
        <div id="coffee-koozie" class="drink-koozie">
            <drink 
                class="drink caffine fa fa-coffee cursor-pointer float-left"
                data-drink='{ "name": "coffee", "strength": -1 }'
            ></drink>
        </div>
    </div>
    <div class="clear-both"></div>
    <browser class="boozy-computer float-left">drag here to drink</browser>
</div>
